@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* Primary */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 55%);
  --clr-v-dark-gray: hsl(0, 0%, 41%);
}

@layer components {
  .underline-hover {
    @apply after:block after:content-[''] after:border-b-4 after:border-white after:scale-x-0 after:transition hover:after:scale-x-100 w-fit;
  }
}
