@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  /* Primary */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark-gray: hsl(0, 0%, 55%);
  --clr-v-dark-gray: hsl(0, 0%, 41%);
}
